<div class="container">

    <div class="authError" *ngIf="authService.error$ | async as error">{{ error }}</div>

    <form class="form" [formGroup]="form" (ngSubmit)="login()">

        <div class="form-control" [ngClass]="{invalid: f.name.touched && f.name.invalid}">
            <label for="name">User Name:</label>
            <input id="name" type="text" formControlName="name">
            <div class="validation" *ngIf="f.name.touched && f.name.invalid">
                <small *ngIf="f.name.errors!.required">Enter user name</small>
            </div>
        </div>

        <div class="form-control" [ngClass]="{invalid: f.password.touched && f.password.invalid}">
            <label for=" password">Password:</label>
            <input id="password" type="password" formControlName="password">
            <div class="validation" *ngIf="f.password.touched && f.password.invalid">
                <small *ngIf="f.password.errors!.required">Enter password</small>
                <small *ngIf="f.password.errors!.minlength">Password may have
                    {{f.password.errors!.minlength.requiredLength}}
                    characters
                    now {{f.password.errors!.minlength.actualLength}} characters
                </small>
            </div>
        </div>

        <div class="buttons">
            <button type="submit" class="submit">
                Login
            </button>
            <button type="button" class="submit" *ngIf="!(authState | async)" (click)="logout($event)">Logout</button>
            <!-- <button type="button" class="submit" *ngIf="!(authState | async)" (click)="logout($event)">Logout</button> -->
        </div>

    </form>
</div>