<div class="wrap">
    <h2>Element Section</h2>
    <form class="form-element">
        <input type="text" cdkDrag>
        <textarea cdkDrag name="text" id="text"></textarea>
        <button cdkDrag type="button">Button</button>
        <div cdkDrag>
            <label for="checkbox">Checkbox</label>
            <input type="checkbox" id="checkbox">
        </div>
        <select name="select" id="select" cdkDrag>
            <option value="value1">1</option>
            <option value="value2">2</option>
            <option value="value3">3</option>
        </select>
    </form>
</div>