<!-- <div class="container">
    <form class="form" [formGroup]='form' (ngSubmit)="submit()">

        <div class="alert alert-info" *ngIf="message">
            {{ message }}
        </div>

        <div class="form-control" [ngClass]="{invalid: f.email.touched && f.email.invalid}">
            <label for="email">Email:</label>
            <input id="email" type="email" formControlName="email">
            <div class="validation" *ngIf="f.email.touched && f.email.invalid">
                <small *ngIf="f.email.errors!.required">Enter email</small>
                <small *ngIf="f.email.errors!.email">Email is invalid</small>
            </div>
        </div>

        <div class="form-control">
            <label for="password">Password:</label>
            <input id="password" type="password" formControlName="password">
            <div class="validation" *ngIf="f.password.touched && f.password.invalid">
                <small *ngIf="f.password.errors!.required">Enter password</small>
                <small *ngIf="f.password.errors!.minlength">Password may have
                    {{f.password.errors!.minlength.requiredLength}}
                    characters,
                    now {{f.password.errors!.minlength.actualLength}} characters</small>
            </div>
        </div>

        <button type="submit" class="submit" [disabled]="form.invalid">
            Login
        </button>

    </form>
</div> -->

<div class="container">
    <div class="header">
        <a class="header__link" [routerLink]="['signin']" routerLinkActive='active'>Sign in</a>
        <a class="header__link" [routerLink]="['signup']" routerLinkActive='active'>Sign up</a>
    </div>
</div>


<router-outlet></router-outlet>