input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'],
select,
textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.header {
  width: 100%;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;

  &__link {
    padding: 10px;
    width: 100px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 18px;
    background-color: #3f51b5;
    margin-right: 20px;
    text-align: center;
    border-radius: 3px;

    &.active {
      opacity: 75%;
    }

    &:hover {
      opacity: 60%;
      transition: 0.3s ease;
    }
  }
}
